<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="Culture" value="en-US"/>
		<add key="FromEmail" value="gtiapptesting@gmail.com" />
		<add key="FromEmailPassword" value="evogtiapp1" />
		<add key="SERVER_API_KEY" value="AAAAT63UjpE:APA91bGadvOI5RDM6ZY3tOaarKmaWeluyhYrh7WrChZS73IzH77Dj0pQOjdAK5OPWtWIbJ2KWJECMOpDu0CdvOJTjD0e0mvdtFxEc68cGyT1G-UMT-4thYi-mDnFv0SHGvwS-D_OHsH4"/>
		<add key="SENDER_ID" value="342218804881"/>
		<add key="PortalURL" value="https://webportal.growerstrans.com/TESTGEM/"/>
	</appSettings>

	<connectionStrings>

		<!--<add name="Evo" connectionString="Data Source=92.204.4.195;  Initial Catalog=Improvians; User id=ImproviansAdmin;Password=admin@@123;" providerName="system.data.sqlclient"/>
		<add name="Evo" connectionString="Data Source=navtestsql;  Initial Catalog=Evotest; User id=evo1;Password=evo1" providerName="system.data.sqlclient" />
		
		<add name="Evo" connectionString="Data Source=navtestsql;  Initial Catalog=Evo; User id=evo1;Password=evo1" providerName="system.data.sqlclient"/>
		-->

		<add name="Evo" connectionString="Data Source=navtestsql;  Initial Catalog=Evotest; User id=evo1;Password=evo1" providerName="system.data.sqlclient" />
		<add name="EvoNavision" connectionString="Data Source=GTI-NAVSQL02;  Initial Catalog=GTINAV2017; User id=navwebuser;Password=mydefault" providerName="system.data.sqlclient" />

	</connectionStrings>
	<system.web>
		
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<customErrors mode="Off" defaultRedirect="~/ErrorPage.aspx" />
		<siteMap defaultProvider="XmlSiteMapProvider"  >
			<providers>
				<clear />
				<add name="XmlSiteMapProvider" description="Default SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SitemapGrower.sitemap" securityTrimmingEnabled="true"/>
				<add name="SitemapGrower" siteMapFile="~/SitemapGrower.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<add name="SitemapSeedlinePlanner" siteMapFile="~/SitemapSeedlinePlanner.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<add name="SitemapSeedlineSupervisor" siteMapFile="~/SitemapSeedlineSupervisor.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<add name="SitemapAssistantGrower" siteMapFile="~/SitemapAssistantGrower.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<add name="SitemapSupervisor" siteMapFile="~/SitemapSupervisor.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<add name="SitemapOperator" siteMapFile="~/SitemapOperator.sitemap" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" />
				<remove name="MySqlSiteMapProvider" />
			</providers>
		</siteMap>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>
