@charset "UTF-8";

/*Fonts*/
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*Font Icons*/
@font-face {
  font-family: 'rxicons';
  src: url('../fonts/icons/rxicons.ttf?342ggi') format('truetype'),
       url('../fonts/icons/rxicons.woff?342ggi') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="rxicon-"], [class*=" rxicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rxicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rxicon-icon-job-report:before {
  content: "\e90c";
}
.rxicon-icon-print:before {
  content: "\e90d";
}
.rxicon-icon-customer-support:before {
  content: "\e90b";
}
.rxicon-icon-job-reports:before {
  content: "\e909";
}
.rxicon-icon-my-tasks:before {
  content: "\e90a";
}
.rxicon-icon-facility-probability:before {
  content: "\e904";
}
.rxicon-icon-germination-seed:before {
  content: "\e905";
}
.rxicon-icon-labor-efficiency:before {
  content: "\e906";
}
.rxicon-icon-plant-quality:before {
  content: "\e907";
}
.rxicon-icon-site-capacity:before {
  content: "\e908";
}
.rxicon-icon-account:before {
  content: "\e900";
}
.rxicon-icon-mytasks:before {
  content: "\e901";
}
.rxicon-icon-greenhouse-control:before {
  content: "\e902";
}
.rxicon-icon-dashboard:before {
  content: "\e903";
}



/*General*/
html { 
    font-size: 16px;
    line-height: 22px;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    line-height: 26px;
    color: #505050;
    background: #f4f6fa;
}

.has__footer {
    position: relative;
    padding-bottom: 160px;
    min-height: 100vh;
}

a,
a:hover,
a:focus,
.site__transition,
button {
    text-decoration: none;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a, span, label { display: inline-block; }
button { outline: none; border:0; }
select:focus, button:focus { outline: none; }
b, strong { font-family: 'roboto-bold', sans-serif; }
span:empty { display: none; }

/*Utilities*/
.dark__bg { background: #2a2a2a; }
.blue_txt { color:#20b2e5; }
.navy_txt { color:#003054; }
.dark_txt { color: #2a2a2a; }

.dash_green_txt { color: #438644; }
.dash_blue_txt { color: #10739e; }
.grey_txt { color: #808080; }


/*Font Styles*/
.roboto { font-family: 'roboto', sans-serif; }
.robotobold { font-family: 'roboto-bold', sans-serif; }
.robotomd { font-family: 'roboto-medium', sans-serif; }

h2, .h2 {
    font-size: 28px;
    font-family: 'roboto-medium', sans-serif;
}

/*Buttons*/
.bttn {
    font-family: 'roboto-medium', sans-serif;
    padding: 14px 30px;
    border: 0px solid;
    font-size: 16px;
    border-radius: 10px;
    background-color: #e1e1e1;
    color: #505050;
    text-align: center;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

table .bttn {
    padding: 14px 10px;
}

.bttn:focus { outline: none; }

.bttn-link {
    font-size: 16px;
    color: #2a2a22;
}

.bttn-link:hover {
    color: #438644;
}

.bttn-primary, .bttn:hover, .bttn.active {
    background: #488949;
    color: #ffffff;
}

.bttn-primary:hover, .bttn.active:hover { background: #366a37; }

.bttn-danger { background: rgb(209, 9, 9); color: #ffffff; }

.bttn.bttn-icon {
    padding: 0;
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
    background: rgb(72 137 73);
    border-radius: 7px;
}

.bttn.bttn-back {
    width: 30px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
}

.submit-bttn { min-width: 112px; }

.bttn-group { display: flex; flex-wrap: wrap; align-items: center; }

.bttn-group .bttn {
    margin-right: 10px;
}

.bttn-group .bttn:last-child {
    margin-right: 0;
}

.bttn-disabled, .bttn[disabled] {
    background: #c0bebe !important;
    opacity: 0.7;
    color: #3a3a3a;
}

.site__container {
    padding-left: 45px;
    padding-right: 45px;
}

/*Header*/
header {
    background: #ffffff;
    padding-top: 22px;
    padding-bottom: 22px;
}

.dropdown-toggle { cursor: pointer; }

.alert__dropdown .dropdown-toggle::after { display: none; }

.alert__dropdown .dropdown-toggle { position: relative; }

.alert__dropdown .dropdown-toggle span {
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-family: 'roboto-bold', sans-serif;
    font-size: 12px;
    background: red;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 100%;
}

.alert__dropdown .dropdown-menu { width: 300px; padding: 0; }

.alert__dropdown .dropdown__head {
    padding: 8px 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
}

.dropdown__body {
    max-height: 324px;
    overflow: auto;
}

.dropdown__foo {
    border-top: 1px solid #e5e5e5;
}

.dropdown__foo button, .dropdown__foo input {
    background: transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 2px 10px;
    font-size: 12px;
    width: 100%;
}

.account__dropdown img {
    max-width: 55px;
    height: auto;
    border-radius: 100%;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.account__dropdown .account__user {
    font-size: 18px;
    color: #2a2a2a;
    margin-right: 10px;
}

.account__dropdown  .dropdown-item {
    font-size: 16px;
    white-space: nowrap;
}

.account__dropdown .dropdown-user {
    display: none;
    font-size: 17px;
    background: #f5f5f5;
    margin-top: -10px;
    padding: 8px 25px;
    margin-bottom: 10px;
    font-family: 'roboto-medium', sans-serif;
}

.account__dropdown .dropdown-title {
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 21px 8px;
}

.account__dropdown .dropdown-title:hover,
.account__dropdown .dropdown-title:active,
.account__dropdown .dropdown-title:focus {
    background: transparent;
    color: #212529;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    font-family: 'FontAwesome';
    content: "\f107";
    border: 0;
    color: transparent;
    background-image: url('../images/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 11px;
    width: 12px;
}

.dropdown-item:not(:hover):focus {
    background: transparent;
}

.dropdown-item.active, .dropdown-item:active {
    background: #438644;
}

.alert__bar {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    padding: 10px;
    color: #505050;
}

.alert__bar a, .alert__bar:hover {
    color: #505050;
}

/*
.alert__bar:hover {
    background: #fbfbfb;
    color: #505050;
}
*/

.alert__bar--unread {
    opacity: 1;
    background: #f4f6fa;
}

.alert__bar:not(:last-child) {
    padding-bottom: 6px;
    border-bottom: 1px solid #e5e5e5;
}

.alert__info {
    max-width: calc(100% - 40px);
    margin-left: 10px;
    line-height: 20px;
}

.alert__info > span {
    padding: 2px 0;
}

.alert__bar i {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #e7f1f5;
    color: #10739e;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.alert__stamp {
    color: #808080;
    margin-left: 40px;
    font-size: 12px;
}

.alert__assigned {
    color: #505050;
    margin-left: 40px;
    font-size: 12px;
}

.bttn.alert__bar--clear {
    padding: 0 8px;
    display: block;
    border-radius: 4px;
    margin-left: 40px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #488949;
    color: #ffffff;
}

.bttn.alert__bar--clear:hover {
    background: #366a37;
}

.bttn.alert__bar--clear:disabled { background: #e1e1e1; color: #c3c3c3; }

.bttn.alert__bar--clear:disabled:hover {
    background: #e1e1e1;
}

/*Notification Icons*/
.alert__bar [class^="imgicon"] {
    background-color: transparent;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    border-radius: 0;
}

.alert__bar .imgicon-putaway { background-image: url('../images/dashboard_put-away.png'); }
.alert__bar .imgicon-germination { background-image: url('../images/dashboard_germination-count.png'); }
.alert__bar .imgicon-fertilization { background-image: url('../images/dashboard_fertilization.png'); }
.alert__bar .imgicon-chemical { background-image: url('../images/dashboard_chemical.png'); }
.alert__bar .imgicon-irrigation { background-image: url('../images/dashboard_irrigation.png'); }
.alert__bar .imgicon-crophealth { background-image: url('../images/dashboard_crop-health-report.png'); }
.alert__bar .imgicon-plantready { background-image: url('../images/dashboard_plant-ready.png'); }
.alert__bar .imgicon-moverequest { background-image: url('../images/dashboard_move-request.png'); }
.alert__bar .imgicon-dumprequest { background-image: url('../images/dashboard_dump-request.png'); }
.alert__bar .imgicon-generaltask { background-image: url('../images/dashboard_general-task.png'); }

/* Breadcrumbs */
.site__breadcrumb {
    /*background: #f8f8f8;*/
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 0;
    list-style: none;
    border-radius: .25rem;
    background: transparent;
}

.mb-3 + .breadcrumb {
    margin-bottom: 16px;
}

h2:not(.mb-2) + .breadcrumb,
h2:not(.mb-3) + .breadcrumb {
    margin-top: 20px;
}

.breadcrumb-item a, .breadcrumb > span > a {
    color: #488949;
    font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem;
}

.breadcrumb > span { padding-right: 0.5rem; }

.breadcrumb-item.active, .breadcrumb > span.active {
    color: #808080;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    float: left;
    padding-right: .5rem;
    color: #6c757d;
}

.header__tabs { position: relative; }

.header__tabs-scroll::before {
    content: "";
    display: block;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(244,246,250,0%) 0%, rgba(244, 246, 250, 0.73) 50%, rgb(244,246,250) 100%);
    opacity: 0;
}

.header__tabs:not(.header__tabs-scroll) > ul {
    justify-content: center;
}

.header__tabs li {
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.custom__dropdown, .filter__control, .input__control, .SumoSelect > .SelectBox, .goog-te-combo {
    font-size: 16px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 28px;
    border-radius: 15px;
    border: 1.5px solid #c8e0c9;
    outline: none;
}
select.SelectBox { visibility: hidden; }
.SumoSelect {
    width: 100%;
}

.SumoSelect > .CaptionCont > label { display: none; }

.SumoSelect > .CaptionCont > span.placeholder { font-style: normal; color: #2a2a2a; }
.SumoSelect.open > .optWrapper { top: 45px; }
.SumoSelect > .optWrapper > .options li label { margin-bottom: 0; }

.input__control-auto {
    width: auto;
}

textarea.input__control {
    height: auto;
    resize: none;
    padding: 15px;
    line-height: 22px;
    vertical-align: top;
}

.textarea__notes {
    width: 260px;
}

.custom__dropdown, .SumoSelect > .SelectBox, .goog-te-combo {
    background-color: #ffffff;
    color: #2a2a2a;
    -webkit-appearance: none;
    background-image: url('../images/icon-dropdown.svg');
    background-repeat: no-repeat;
    background-position: right 28px center;
    background-size: 11px;
    padding-left: 20px;
    padding-right: 52px;
}

/*Input date picker arrow */
input[type="date" i]::-webkit-calendar-picker-indicator { margin-left: 5px; }

.filter__control:focus, .input__control:focus { outline: none; } 

.header__bottom {
    position: absolute;
    max-width: calc(100% - 698px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    height: 95px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header__bottom .custom__dropdown { max-width: 401px; }
.header__bottom .bttn { padding-left: 15px; padding-right: 15px; }
.header__bottom [class^="rxicon-"] { font-size: 24px; }

.main { margin-top: 25px; }
.main .main { margin-top: 0; }

/*Footer*/
.floating__footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.floating__footer ul {
    display: inline-flex;
    margin-bottom: 0;
    padding: 19px 20px;
    border-radius: 50px;
}

.floating__footer ul li:not(:first-child) {
    margin-left: 20px;
}

.floating__footer a {
    display: flex;
    align-items: center;
    padding: 18px 36px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
}

.floating__footer a.active, .floating__footer a:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.1);
}

.floating__footer i {
    font-size: 26px;
    margin-right: 22px;
}

/*Dashboard*/
.dashboard__row {
    margin-top: 60px;
    padding-bottom: 30px;
}
.dashboard__block {
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 35px;
}

.dashboard__block h2 { color: #2a2a2a; }

.dashboard__block h3, h3, .h3 {
    font-family: 'roboto-medium', sans-serif;
    font-size: 22px;
    margin-bottom: 22px;
}

.dashboard__block h4, h4, .h4 {
    font-family: 'roboto-medium', sans-serif;
    font-size: 18px;
    margin-bottom: 18px;
}

.dashboard__matrix {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 30px 22px;
}

.dashboard__matrix:not(:last-child) {
    margin-right: 44px;
}

.dashborad__stats {
    font-size: 42px;
    width: 110px;
    height: 110px;
    flex: 0 0 110px;
    border-radius: 100%;
    line-height: 110px;
    text-align: center;
    margin-right: 22px;
}

.dashboard__block.clear__bottomradius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dashborad__stats i { line-height: 110px; }

.stats--germination-seed { background: rgba(67,134,68, 0.1); }
.stats--plant-quality { background: rgba(149,192,86,0.1); }
.stats--facility-probability { background: rgba(16, 115,158, 0.1); }
.stats--labor-efficiency { background: rgba(35,68, 93, 0.1); }
.stats--site-capacity { background: rgba(26,178,201,0.1); }

.dashborad__stats .rxicon-icon-germination-seed { color: #438644; }
.dashborad__stats .rxicon-icon-plant-quality { color: #95c056; }
.dashborad__stats .rxicon-icon-facility-probability { color: #10739e; }
.dashborad__stats .rxicon-icon-labor-efficiency { color: #23445d; }
.dashborad__stats .rxicon-icon-site-capacity { color: #1ab2c9; }

.dashboard__matrixdetail h3 {
    font-size: 45px;
    margin-bottom: 0px;
}

.dashboard__matrixdetail span {
    color: #808080;
    font-size: 16px;
}

.dashboard__links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dashboard__task {
    position: relative;
    color: #ffffff;
}

.dashboard__task:hover { color: #ffffff; }

.dashboard__task:nth-child(n+2) {
    margin-bottom: 12px;
}

.dashboard__task span {
    font-family: 'roboto-medium', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}

.block__head + .activity__graph {
    margin-top: 35px;
    overflow: hidden;
}

.graph__mark {
    position: relative;
    min-width: 36px;
    height: 50px;
    font-size: 16px;
    line-height: 16px;
    color: #808080;
}

.graph__mark:empty {
    height: 30px;
}

.graph__yaxis {
    margin-right: 68px;
}

.graph__yaxis .graph__mark:not(:last-child)::before {
    content: "";
    position: absolute;
    left: calc(100% + 12px);
    height: 1px;
    background: #f1f1f1;
    width: 1000px;
    top: 8px;
}

.graph__bar + .graph__bar:not(:last-child) {
    flex: 1 0 25%;
}

.graph__bar:last-child { margin-right: 68px; }

.graph__bar--line {
    position: relative;
    width: 6px;
    height: calc(100% - 80px);
    top: 8px;
    border-radius: 5px;
    background-color: #e4e4ed;
}

.graph__bar--line > span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.graph__bar--today {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    border-radius: 5px;
    background: #21b4cb;
}

.graph__bar--week {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    border-radius: 5px;
    background: #23445d;
}

.graph__xaxis {
    margin-top: 38px;
    transform: translateX(-50%);
    text-align: center;
    color: #2a2a2a;
    font-family: 'roboto-medium', sans-serif;
}

/*Filter Row*/
.filter__row { margin-top: 34px; }
.breadcrumb + .filter__row { margin-top: 15px; }
.filter__row .filter__control { width: auto; }
.filter__row > .filter__control:not(.bttn) { flex: 0 0 300px; }
.filter__control + * { margin-left: 20px; }
.filter__control:not(.filter__bttn) { color: #808080; font-size: 16px; }
.filter__bttn { flex-basis: 150px; min-width: 150px; }
.filter__search {
    background-image: url('../images/icons/icon-search.svg');
    background-position: left 24px center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding-left: 58px;
}

/*Data Table*/
.filter__row + .data__table { margin-top: 30px; }
.data__table table { width: 100%; }
.data__table th {
    font-family: 'roboto-bold', sans-serif;
    color: #2a2a2a;
    background: #ffffff;
}
.data__table th, .data__table td {
    background: #f4f6fa;
    border: 1px solid #d7d7d7;
    padding: 10px 15px;
    line-height: 24px;
}

.data__table .bttn-action {
    border-radius: 5px;
    width: 113px;
    height: 40px;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.data__table tr:nth-child(odd) > td, .data__table tr:nth-child(odd) > th {
    background-color: #ffffff;
}

.data__table tr.highlighted > td {
    background-color: rgb(222 246 225);
}

.dashboard__paging {
    margin-top: 30px;
}

.dashboard__paging li:first-child { margin-right: 15px; }
.dashboard__paging li:last-child { margin-left: 15px; }

.dashboard__paging a { color: #2a2a2a; }

.paging__bttn {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    text-align: center;
}

.paging__current .paging__bttn { background: #438644; color: #ffffff; border-color: #438644; }

/*Assign Task Form*/
.dashboard__block--asign { margin-top: 35px; }
.dashboard__block--asign h3 {
    font-family: 'roboto-medium', sans-serif;
    font-size: 24px;
    margin-bottom: 25px;
}

/*Login Page*/
.login__page {
    background: #ffffff;
}

.login__container {
    position: relative;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.login__container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: url('../images/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login__container h1 {
    font-family: 'roboto-bold', sans-serif;
    font-size: 35px;
    color: #2a2a2a;
    margin-top: 70px;
}

.login__container form {
    margin-top: 50px;
    text-align: left;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.login__container form label {
    display: block;
    margin-bottom: 30px;
}

.login__container label h3 {
    font-family: 'roboto-medium', sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
    color: #2a2a2a;
}

.login__container form .bttn-action { margin-top: 10px; }

.input__control-icon {
    padding-left: 58px;
}

.input__control-iconwrapper {
    position: relative;
}

.input__control-iconwrapper::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    height: 100%;
    background-position: left 24px center;
    background-size: 21px;
    background-repeat: no-repeat;

}

.input__control--user::after {
    background-image: url('../images/icons/icon-user.svg');
}

.input__control--password::after {
    background-image: url('../images/icons/icon-password.svg');
}

/*Updates*/
.form__md {
    max-width: 100%;
    width: 600px;
}

.form__lg {
    max-width: 100%;
    width: 750px;
}

.web__form label ~ *:last-child {
    margin-bottom: 25px;
}

/* Custom Checkbox */
.custom-control.custom-checkbox input[type="checkbox"], .custom-control.custom-radio input[type="radio"] {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
}

.custom-control.custom-checkbox label, .custom-control.custom-radio label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    margin-bottom: 10px;
}

.custom-control.custom-checkbox label::before, .custom-control.custom-radio label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
    border-radius: 4px;
}

.custom-control.custom-checkbox label::after, .custom-control.custom-radio label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50% / 50% 50%;
}

.custom-control.custom-radio label::before {
    border-radius: 100%;
}

.custom-control.custom-checkbox input:checked ~ label::before, .custom-control.custom-radio input:checked ~ label::before {
    border-color: #438644;
    background-color: #438644;
}

.custom-control.custom-checkbox input:checked ~ label::after {
    background-image: url(../images/icons/icon-checkbox.svg);
}

.custom-control.custom-radio input:checked ~ label::after {
    background-image: url(../images/icons/icon-radio.svg);
}

.data__table td i.fa-qrcode  {
    color: #438644;
    text-align: center;
    font-size: 30px;
}

.data__table-seedinglot {
    max-height: 255px;
    overflow: auto;
}

.data__table { max-width: 100%; overflow: auto; }
.data__table tr > th:first-child, .data__table tr > td:first-child { position: sticky; left: -1px; box-shadow: 1px 0px 0px 0px #e2e3e4; z-index: 2; }

/*Dashboard Boxes*/
.dashboard__grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -22.5px;
    margin-right: -22.5px;
    padding-top: 30px;
}

.dashboard__box {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 30px;
    border-radius: 22px;
    flex: 1 0 calc(33.33% - 45px);
    max-width: calc(33.33% - 45px);
    margin-left: 22.5px;
    margin-right: 22.5px;
    margin-bottom: 40px;
    color: #505050;
}

.dashboard__box.dashboard__box-overdue, .data__table.overdue, .data__table table.overdue {
    box-shadow: 0px 0px 4px 1px #e01c1c;
}

.data__table tr.overdue:nth-child(odd) > td, .data__table .overdue td, .page__us .data__table tr.overdue:nth-child(even) td  {
    background-color: #fff4f4;
}

.dashboard__box:hover { color: #505050; }

.dashboard__box-img { max-width: 23.62%; flex: 1 0 auto; }

.dashboard__box-img img { max-width: 100%; height: auto; }

.dashboard__box-desc { padding-left: 8.62%; }

.dashboard__box-count {
    font-size: 45px;
    line-height: 45px;
}

.dashboard__box-title {
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.dashboard__box-desc p { margin-bottom: 0; }

.data__table-height {
    max-height: 80vh;
}

.control__box {
    padding-left: 5px;
    max-height: 110px;
    overflow: auto;
    border: 1.5px solid #c8e0c9;
    border-radius: 8px;
    padding: 5px 10px;    
}

/*Title with Icons*/
.head__title-icon {
    display: flex;
    align-items: center;
    text-align: left;
}

.head__title-icon img {
    max-width: 50px;
    height: auto;
    margin-right: 15px;
}

/* Request task coallpsibles */
.request__block {
    overflow: hidden;
    border-radius: 10px;
}

.task_request-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 632px;
}

.request__block-head {
    position: relative;
    display: block;
    font-family: 'roboto-medium', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: calc(33.33% - 10px);
    padding: 10px 15px;
    border: 1.5px solid #c8e0c9;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.request__block-head > span { display: flex; align-items: center; }
.request__block-head img { max-width: 35px; height: auto; margin-right: 15px; }
.request__block-collapse { padding: 10px 15px 10px; background: #ffffff; }
.request__body { padding: 10px 0; }


/*New*/
.request__block-collapse {
    border-radius: 10px;
    border: 1.5px solid #c8e0c9;
}

.request__block-head:not(.collapsed) { background: #f4f6fa; }

/*Floating QR Code*/
.floating__qrcode {
    position: fixed;
    top: 15vh;
    top: 105px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 0;
    outline: none;
    line-height: 50px;
    color: #ffffff;
    background: #438644;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
 
.floating__qrcode:active, .floating__qrcode:focus { outline: none; }

/*Break Table*/
.break__table tr td { text-align: left; }
.break__table tr td::before {
    display: none;
    content: attr(data-head);
    font-family: 'roboto-bold', sans-serif;
    padding-right: 15px;
    text-align: left;
}

/*PWA Button*/
.pwa {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.pwa .bttn {
    padding: 10px 15px;
    border-radius: 6px;
}

.data__table-shrink td, .data__table-shrink th {
    font-size: 14px;
    line-height: 18px;
    padding: 7px;
}

/*Performance Log Sheet*/
.page__letter {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #222222;   
}

.page__letter .data__table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page__letter .data__table th, .page__letter .data__table td {
    padding: 0 11px;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.page__logo {
    width: 80px;
    height: auto;
}

.field__blank {
    min-width: 155px;
    border-bottom: 1px solid;
    height: 18px;
    text-align: center;
}

.page__letter .data__table td, .page__letter .data__table th {
    padding: 0 5px;
    font-size: 8px;
    line-height: 12px;
}

.page__letter .data__table th  {
    padding: 3px 5px;
}

/*Performance Log Sheet*/
.page__us {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}


.page__us .printBtns {
    padding-top: 20px;
    padding-bottom: 20px;
}

.field__blank {
    min-width: 155px;
    border-bottom: 1px solid;
    height: 18px;
    text-align: center;
}

.page__logo {
    width: 80px;
    height: auto;
}
.page__us .data__table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page__us .data__table tr:nth-child(even) td {
    background: #e4fce4;
}

.page__us .data__table th, .page__us .data__table td {
    padding: 0 11px;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.page__us .data__table tr:nth-child(odd) > th { background: #489d48; color: #ffffff; }

/*Performance Log Sheet ENDS*/

/*Help Page STARTS*/
.section__help {
    padding-bottom: 30px;
}

.section__help h2 {
    position: relative;
    padding-top: 30px;
    margin-bottom: 40px;
}

.section__help .card {
    -webkit-box-shadow: 0px 1px 5px -1px #c7c7c7;
    -moz-box-shadow: 0px 1px 5px -1px #c7c7c7;
    box-shadow: 0px 1px 5px -1px #c7c7c7;
    max-width: 100%;
}

.help__reources .card {
    width: 1024px;
}

.section__help h3 { font-family: 'roboto-medium', sans-serif; }

.help__list {
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow: auto;
    margin-bottom: 0;
}

.help__list li {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 22px;
    list-style: none;
    padding: 12px 12px;
    padding-right: 22px;
    border-bottom: 1px solid #f0f0f0;
}

.help__list li:first-child {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1;
}

.help__list-title {
    flex: 1 0 calc(100% - 160px);
    max-width: calc(100% - 160px);
    padding-right: 15px;
}

.help__list-action { max-width: 160px; width: 160px; }
.help__list-link { width: 80px; text-align: center; }
.help__list-ppt { margin-left: auto; }
.help__list-link img { height: auto; }
.help__list-video img { width: 35px; }
.help__list-ppt img { width: 32px; }

.help__list-cell {
    width: 80px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.help__contact h2 {
    position: fixed;
    right: 18px;
    top: 50%;
    transform: translate(50%,-50%) rotateZ( -90deg );
    transform-origin: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 14px;
    z-index: 999;
    margin: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #005a01;
    color: #ffffff;
}

.modal__help .modal-header, .modal__help .modal-content, .modal__help .card {
    border: 0;
    overflow: hidden;
    vertical-align: top;    
}

.modal__help .modal-header .close {
    padding: 0;
    color: #ffffff;
    text-shadow: none;
    text-align: center;
    opacity: 1;
    cursor: pointer;
    border-radius: 100%;
    background: red;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.modal__help .modal-header .close span {
    font-size: 18px;
    line-height: 20px;
    vertical-align: top;    
    cursor: pointer;
}

.contact__pic img {
    background: #f1f1f1;
    margin-right: 15px;
    max-width: 160px;
    height: auto;
}

.contact__detail {
    font-size: 18px;
    line-height: 22px;
}

.contact__detail label {
    font-family: 'roboto-bold', sans-serif;
    min-width: 70px;
}

.contact__item { margin-bottom: 12px; }

.contact__item label { margin-bottom: 0; }

.contact__item i {
    font-size: 16px;
    line-height: 22px;
}

.contact__item, .contact__item a {
    display: flex;
    word-break: break-all;
    color: #505050;
}
.contact__item a:hover { color: #489d48; }

.accordion__help {
    max-width: 100%;
    width: 1024px;
}

.accordion .card-header {
    position: relative;
    cursor: pointer;
}

.accordion .card-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-image: url(../images/icon-dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 11px;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

.accordion .card-header.collapsed::before {
    transform: rotate(0deg);
}

.accordion .card-header h3 {
    font-size: 20px;
    padding-right: 30px;
}

.accordion .card-body a { color: #489d48; font-family: 'roboto-medium', sans-serif; }
.accordion .card-body a:hover { text-decoration: underline; }
.modal--auto { text-align: center; }
.modal--auto .modal-dialog { max-width: 100%; display: inline-block; }
/*Help Page ENDS*/

/*Reports Page*/
.reports__buttons {
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    display: flex;
    justify-content: space-between;
    margin-top: 14vh;
    margin-bottom: 14vh;
}

.reports__buttons a {
    flex:1 0 calc(50% - 7.5px);
    max-width: calc(50% - 7.5px);
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reports__buttons .card-body {
    width: 100%;
    align-items: center;
    flex: 0 0 auto;
}

.reports__buttons i {
    font-size: 50px;
    line-height: 50px;
    color: #438644;
}

.reports__buttons .card-title {
    font-size: 24px;
    color: #505050;
    margin-top: 20px;
    font-family: 'roboto-bold', sans-serif;
}

/*Reports Page ENDS*/

/*Google Charts*/

svg text {
    font-family: 'roboto', sans-serif;
}

.custom-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.pip .imageThumb {
    max-width: 80px;
    height: auto;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
}

.skiptranslate.goog-te-gadget {
    font-size: 0;
    line-height: 0;
}

select option:disabled {
    background: #ececec;
    opacity: 0.8;
}
.paging td {
    padding: 0;
}

.paging td a, .paging td > span {
    padding: 10px 15px;
    display: block;
}

/*Media Queries*/
@media only screen and (min-width: 1368px) {
    .container {
        width: 1332px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1839px) {
    .has__footer { padding-bottom: 140px; }
    .custom__dropdown, .filter__control, .input__control, .SumoSelect > .SelectBox, .goog-te-combo {
        height: 45px;
        line-height: 45px;
        border-radius: 10px;
        max-width: 100%;
    }
    .custom__dropdown, .SumoSelect > .SelectBox, .goog-te-combo { background-position: right 20px center; }
    .bttn { border-radius: 10px; padding: 9px 22px; }
    .header__tabs ul { margin: 4px auto; }
    .dashboard__block { border-radius: 15px; }

    .dashborad__stats {
        font-size: 28px;
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        line-height: 60px;
        margin-right: 15px;
    }

    .dashborad__stats i { line-height: 60px; }

    .dashboard__matrix { padding: 15px; }
    .dashboard__matrixdetail h3 { font-size: 35px; }
    .graph__yaxis { margin-right: 40px; }
    .graph__bar:last-child { margin-right: 0; }

    /* .dashboard__matrix:nth-child(3) { border-bottom-left-radius: 0; border-bottom-right-radius: 0; } */
    .dashboard__matrix:not(:last-child) { margin-right: 25px; }

    .matrixdetail-subtitle {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background: #e7f1f5;
        border-radius: 0px 0px 10px 10px;
        z-index: -1;
    }

    .floating__footer ul { padding: 14px; }
    .floating__footer a { border-radius: 30px; padding: 15px 25px; }
    .floating__footer i { margin-right: 12px; }

    .logo-link--vertical img { max-width: 180px; height: auto; }
    .login__container h1 { margin-top: 50px; }
    .login__container form { margin-top: 30px; }
    .dashboard__matrixdetail span:not(.matrixdetail-subtitle) { line-height: 20px; }

    .filter__bttn { min-width: 110px; flex-basis: 110px; }
    
    .dashboard__grid { margin-left: -15px; margin-right: -15px; }

    .dashboard__box {
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
        flex: 1 0 calc(33.33% - 30px);
        max-width: calc(33.33% - 30px);
        margin-bottom: 30px;
    }
    .dashboard__box-img { max-width: 32%; }
}

@media only screen and (max-width: 1499px) {
    .header__bottom .custom__dropdown { max-width: 330px; }
    .data__table th, .data__table td { padding: 10px 15px; }
    .dashboard__block:not(.dashboard__matrix) { padding: 25px; }
    .logo-link--vertical img { max-width: 150px; height: auto; }
    .login__container h1 { font-size: 30px; }
    .floating__footer i { font-size: 22px; }
    .filter__row { flex-wrap: wrap; }
    .filter__row > .filter__control:not(.bttn) { flex: 0 0 auto; }
    .floating__footer a { padding: 12px 25px; }
    .data__table .bttn-action { width: auto; padding-left: 15px; padding-right: 15px; }
    .graph__yaxis { margin-right: 30px; }
    .graph__xaxis { font-size: 16px; }
    .custom__dropdown, .goog-te-combo { background-position: right 15px center; padding-right: 45px; }
    .filter__search { background-position: left 15px center; padding-left: 45px; }
    .filter__control + * { margin-left: 15px; }
    
    .dashboard__box-img { max-width: 28%; }
    .dashboard__box-count { font-size: 35px; line-height: 35px; }
    .dashboard__box-title { font-size: 22px; line-height: 30px; }
}

@media only screen and (max-width: 1279px) {
    body { line-height: 22px; }
    html { font-size: 16px; line-height: 22px; }
    .data__table th, .data__table td { line-height: 20px; }
    .login__container form label { margin-bottom: 20px; }
    .dashboard__matrixdetail h3 { font-size: 30px; }

    /*Break Table*/
    .break__table-xl tr td { display: flex; }
    .break__table-xl tr td::before {
        display: block;
        width: 48%;
        max-width: 48%;
        min-width: 48%;
        flex: 1 0 48%;
        border-right: 2px solid #d0d0d0;
        margin-right: 10px;
    }
    .break__table-xl {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .break__table-xl tr:nth-child(even) > td { background: #f6f6f6; }
    .break__table-xl tr:nth-child(even) > td:nth-child(odd) { background: #ffffff; }
    .break__table-xl tr th { display: none; }
}

@media only screen and (max-width: 1199px) {
    /* h2 { text-align: center; } */
    .login__wrapper { padding-left: 15px; padding-right: 15px; }
    .login__container label h3 { margin-bottom: 12px; }
    .site__container { padding-left: 15px; padding-right: 15px; }
    .floating__footer { position: fixed; bottom: 20px; }
    .has__footer { padding-bottom: 110px; }
    .graph__bar + .graph__bar:not(:last-child) { flex: 1 0 calc(25% - 4px); }
    .dashboard__block--asign { margin-bottom: 20px; }
    .filter__row { justify-content: space-between; max-width: 540px; margin-left: auto; margin-right: auto; }
    .filter__row > .filter__control:not(.bttn) { flex: 0 0 calc(50% - 15px); }
    .filter__control + * { margin-left: unset; }
    .filter__control { margin-bottom: 15px; }
    .filter__control + .filter__bttn { margin-left: auto; margin-right: auto; flex: 1; }
    h2 + .filter__row { margin-top: 25px; }
    .assign__task { flex-wrap: wrap; justify-content: center; }
    .assign__task .filter__control + .filter__bttn { flex: 0 0 auto; width: auto; margin: 0; }
    .assign__task .filter__bttn + .filter__bttn { margin-left: 30px; }

    .dashboard__box-title { margin-top: 6px; }

    /*Break Table*/
    .break__table-lg tr td { display: flex; }
    .break__table-lg tr td::before {
        display: block;
        width: 48%;
        max-width: 48%;
        min-width: 48%;
        flex: 1 0 48%;
        border-right: 2px solid #d0d0d0;
        margin-right: 10px;
    }
    .break__table-lg {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .break__table-lg tr:nth-child(even) > td { background: #f6f6f6; }
    .break__table-lg tr:nth-child(even) > td:nth-child(odd) { background: #ffffff; }
    .break__table-lg tr th { display: none; }


    .data__mobile th {
        display: none;
    }

    .data__mobile tr {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
    }

    .data__mobile tr.overdue + tr {
        padding-top: 20px;
    }

    .data__mobile {
        overflow: hidden;
    }

    .data__mobile td {
        width: 100%;
        min-width: 100%;
    }

    .data__mobile td [data-head]::before {content: attr(data-head);display: block;width: 100%;font-weight: bold;padding: 5px 0;}

    .help__list li { padding: 12px 0; }
}

@media only screen and (max-width: 1023px) {
    .dashboard__matrixlist { flex-wrap: wrap; justify-content: space-around; }
    .dashboard__matrix { flex: 1 0 33.33%; max-width: calc(33.33% - 15px); }
    .dashboard__matrix:not(:last-child) { margin-right: 0; }
    .graph__bar + .graph__bar:not(:last-child) { flex: 1 0 calc(25% - 5px); }
    .dashboard__matrix:nth-child(-n+3) { margin-bottom: 50px; }
    .dashboard__matrix:nth-last-child(2) { margin-left: auto; }
    .dashboard__matrix:last-child { margin-right: auto; margin-left: 15px; }
}

@media only screen and (min-width: 992px) {
    .data__table .table-md-fixed {
        table-layout: fixed;
    }
}

@media only screen and (max-width: 991px) {
    .bttn { padding: 10px 25px; }
    .header__bottom { position: static; height: auto; display: flex; }
    .main .header__bottom { margin-bottom: 30px; }
    .main .main .header__bottom { margin-bottom: 0; }
    .filter__control:not(.input__control-icon):not(.filter__search), .input__control:not(.input__control-icon) { padding: 0 25px; }
    textarea.input__control:not(.input__control-icon):not(.filter__search) { padding: 15px; }
    .filter__search { padding-left: 45px; }
    h2, .h2 { font-size: 24px; }
    .head__title-icon img { max-width: 40px; }
    .dashboard__block--asign h3 { font-size: 22px; }
    .dashboard__row { margin-top: 30px; }
    .block__head + .activity__graph { margin-top: 25px; }
    .login__wrapper { position: relative; z-index: 1; }
    .login__container::before { width: 100%; }
    .login__container::after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.87); }
    .dashboard__row .row > div:last-child { margin-top: 30px; }
    .floating__footer { left: 15px; right: 15px; width: calc(100% - 30px); }
    .floating__footer a { padding: 10px 15px; }
    .floating__footer ul li:not(:first-child) { margin-left: 15px; }
    .has__footer { padding-bottom: 112px; }
    .dashboard__paging { margin-bottom: 10px; }
    .dashboard__block--asign { margin-bottom: 30px; }
    .dashboard__matrix:nth-child(-n+3) { margin-bottom: 30px; }
    .dashboard__box { flex: 1 0 calc(50% - 30px); max-width: calc(50% - 30px); }

    /*Break Table*/
    .break__table:not(.break__table-sm) tr td { display: flex; }
    .break__table:not(.break__table-sm) tr td::before {
        display: block;
        width: 48%;
        max-width: 48%;
        min-width: 48%;
        flex: 1 0 48%;
        border-right: 2px solid #d0d0d0;
        margin-right: 10px;
    }
    .break__table:not(.break__table-sm) {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .break__table:not(.break__table-sm) tr:nth-child(even) > td { background: #f6f6f6; }
    .break__table:not(.break__table-sm) tr:nth-child(even) > td:nth-child(odd) { background: #ffffff; }
    .break__table:not(.break__table-sm) tr th { display: none; }

    .pwa { right: 0; left: 0; text-align: center; }
    .login__container { padding-top: 100px; }
}

@media only screen and (max-width: 767px) {
    header { position: sticky; top:0; z-index: 5; }
    .input__control-icon { background-position: left 12px center; padding-left: 46px; }
    .input__control-iconwrapper::after { width: 46px; background-position: left 12px center; }
    .floating__footer { bottom: 0; width: 100%; left: 0; right: 0; }
    .floating__footer ul { border-radius: 0; padding: 0; display: flex; }
    .floating__footer ul li { flex: 1; }
    .floating__footer ul li:not(:first-child) { margin-left: 0; border-left: 1px solid #1e1e1e; }
    .floating__footer a { flex-wrap: wrap; justify-content: center; border-radius: 0; }
    .floating__footer i { margin-right: 0; }
    .floating__footer a span { display: block; width: 100%; }
    .has__footer { padding-bottom: 84px; }
    .header__tabs { padding-left: 15px; padding-right: 15px; }
    .header__tabs ul { overflow: auto; }
    header { padding-top: 15px; padding-bottom: 15px; }
    .dashboard__matrixdetail h3 { font-size: 26px; }
    .floating__footer a { height: 100%; }
    .floating__footer i { display: block; width: 100%; }
    .floating__footer a span { max-width: 137px; margin-left: auto; margin-right: auto; display: block; }

    .dashboard__grid { padding-top: 20px; }
    .dashboard__box { border-radius: 8px; }
    .dashboard__box-img { margin: 0 auto 20px; max-width: 84px; min-height: 87px; }
    .dashboard__box-count { font-size: 30px; line-height: 30px; text-align: center; }
    .dashboard__box-title { font-size: 20px; line-height: 26px; text-align: center; }
    .dashboard__box-desc p { text-align: center; }
    .dashboard__box { flex-wrap: wrap; align-items: flex-start; }
    .dashboard__box-desc { padding-left: 0; width: 100%; }

    .floating__qrcode { top: auto; right: 15px; bottom: 120px; }

    /*Break Table*/
    .break__table-sm tr td { display: flex; }
    .break__table-sm tr td::before {
        display: block;
        width: 48%;
        max-width: 48%;
        min-width: 48%;
        flex: 1 0 48%;
        border-right: 2px solid #d0d0d0;
        margin-right: 10px;
    }
    .break__table-sm {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .break__table-sm tr:nth-child(even) > td { background: #f6f6f6; }
    .break__table-sm tr:nth-child(even) > td:nth-child(odd) { background: #ffffff; }
    .break__table-sm tr th { display: none; }
    .site__breadcrumb { top: 81px; }
    .breadcrumb {
        /*padding: 8px 1rem;*/
        font-size: 14px;
        padding-left: 0;
    }
    .request__block { margin-bottom: 30px; }

    .reports__buttons { 
        margin-top: 10vh;
        margin-top: 10vh;
    }
    .section__help h2 { margin-bottom: 25px; }
    .accordion .card-header::before { width: 40px; }
    .accordion .card-header h3 { font-size: 18px; padding-right: 20px;  }
    .help__contact h2 { font-size: 14px; }
    .account__user { display: none;}
    .account__dropdown .dropdown-user { display: block; }
}

@media only screen and (max-width: 639px) {
    .custom__dropdown, .filter__control, .input__control, .goog-te-combo { height: 45px; line-height: 45px; }
    .dashboard__matrix { max-width: calc(50% - 15px); flex: 1 0 50%; }
    .dashboard__matrix:nth-child(-n+3) { margin-bottom: 20px; }
    .dashboard__matrix:nth-child(3) { margin-bottom: 40px; }
    .dashboard__matrixlist { align-items: flex-start; }
    .dashboard__matrix:nth-last-child(2) { margin-left: unset; }
    .dashboard__matrix:last-child { margin-left: auto; }
    .has__footer { padding-bottom: 84px; }
    .filter__row > .filter__control:not(.bttn) { flex: 0 0 calc(50% - 8px); max-width: calc(50% - 8px); }
    .account__dropdown .account__user { font-size: 16px; }
    .account__dropdown img { max-width: 48px; width: 48px; height: 48px; }
    .account__dropdown .account__user { margin-right: 5px; }
    .custom__dropdown, .filter__control:not(.input__control-icon):not(.filter__search), .input__control:not(.input__control-icon), .goog-te-combo { padding: 0 15px; }
    .custom__dropdown, .custom__dropdown.filter__control:not(.filter__search), .input__control.input__control-icon, .goog-te-combo { padding-right: 35px; }
    .bttn, .custom__dropdown, .filter__control, .input__control, .goog-te-combo { border-radius: 6px; }

    .task_request-buttons { max-width: 100%; }
    .request__block-head { width: calc(50% - 15px); }
    .reports__buttons { max-width: 490px; }
    .help__list-cell { width: 68px; font-size: 12px; line-height: 16px; }
    .help__list-action { max-width: 136px; width: 136px; }
    .help__list-title { flex: 1 0 calc(100% - 136px); max-width: calc(100% - 136px); }
    .help__list-link { width: 68px; }
    .help__list-video img { width: 30px; }
    .help__list-ppt img { width: 27px; }
    .help__list-title.h5 { font-size: 18px; }
}

@media only screen and (max-width: 575px) {
    header a > img { max-width: 200px; height: auto; }
    .account__dropdown .account__user { font-size: 16px; }
    .alert__dropdown .dropdown-menu { right: 0; left: 0; transform: translate(-50%, 5px); max-width: 90vw; }
    .graph__xaxis { font-size: 12px; margin-top: 25px; }
    .header__tabs ul { margin-bottom: 0; padding-bottom: 10px; }
    .floating__footer a { padding: 10px 15px; }
    .floating__footer a span { font-size: 14px; line-height: 18px; margin-top: 5px; }
    .custom__dropdown, .filter__control, .input__control, .goog-te-combo { padding: 0 20px; }
    .custom__dropdown, .goog-te-combo { padding-right: 30px; background-position: right 12px center; }
    .input__control-icon { padding-left: 38px; }
    .filter__search { background-position: left 12px center; padding-left: 38px; }
    .block__head + .activity__graph { margin-bottom: -20px; }
    .header__tabs::before { opacity: 1; }
    .header__tabs li:last-child:not(:nth-child(2)) { padding-right: 25px; }
    header .d-flex > a { max-width: 60px; overflow: hidden; }
    header a > img { max-width: 1000px; height: auto; }
    .site__breadcrumb { overflow: auto; }
    .breadcrumb-item { display: inline-flex; }
    .breadcrumb-item:last-child { padding-right: 15px; }
    .contact__pic { text-align: center; }
    .contact__pic img { margin-right: 0; }
    .help__contact .card-body { padding: 15px; }
}

@media only screen and (max-width: 459px) {
    .login__container h1 { font-size: 28px; margin-top: 30px; }
    .logo-link--vertical img { max-width: 130px; }
    .dashboard__matrix { flex-wrap: wrap; justify-content: center; text-align: center; }
    .dashboard__matrixdetail { width: 100%; }
    .dashborad__stats { margin: 0 0 15px; }
    .login__container label h3 { font-size: 16px; }
    .dashboard__matrixlist { align-items: stretch; }
    .dashboard__matrix:nth-child(-n+4) { margin-bottom: 15px; }
    .dashboard__matrix:last-child { margin-top: 25px; }
    .dashboard__matrix { max-width: calc(50% - 8px); }
    .dashboard__matrixlist { justify-content: space-between; }
    .dashboard__block:not(.dashboard__matrix) { padding: 15px; }
    .dashboard__task { max-width: calc(50% - 5px); }
    .dashboard__task:nth-child(n+2) { margin-bottom: 0px; }
    .dashboard__task:nth-child(n+3) { margin-bottom: 0; margin-top: 10px; }
    .dashboard__task img { max-width: 100%; height: auto; }
    .dashboard__task span { font-size: 20px; }
    .graph__yaxis { margin-right: 20px; }
    .graph__bar + .graph__bar:not(:last-child) { flex: 1 0 calc(25% - 8px); }
    .dashboard__matrixdetail span { font-size: 14px; }
    .dashboard__matrixdetail .matrixdetail-subtitle { line-height: 25px; }
    .floating__footer a { padding: 10px; }
    .filter__row { margin-top: 10px; }
    .filter__row > .filter__control:not(.bttn) { max-width: 100%; width: 100%; flex: 1 0 100%; }
    .header__bottom { padding-left: 15px; padding-right: 15px; }
    .header__tabs { padding-left: 0; padding-right: 0; }
    .header__tabs::before { right: -15px; }
    .alert__dropdown .dropdown-menu { transform: translate(-45%, 5px); }
    .data__table td i.fa-qrcode { font-size: 25px; }

    .dashboard__box-desc { display: block; width: 100%; min-width: 100%; }
    .dashboard__box { flex: 1 0 calc(100% - 30px); max-width: calc(100% - 30px); text-align: center; }

    .request__block-head { width: calc(100% - 0px); }

    .reports__buttons a { min-height: 140px; }
    .reports__buttons i { font-size: 40px; line-height: 30px; }
    .reports__buttons .card-title { font-size: 20px; line-height: 24px; margin-top: 12px; }
    .reports__buttons .card-body { padding-left: 10px; padding-right: 10px; }
    .contact__detail { font-size: 16px; line-height: 20px; }
    .contact__detail label { min-width: 60px; }
}


@media only screen and (max-width: 359px) {
    .floating__footer a span { font-size: 12px; line-height: 16px; }
    h2, .h2 { font-size: 22px; }
    .login__wrapper { padding-left: 0; padding-right: 0; }
    .logo-link--vertical img { max-width: 102px; }
    .login__container form { margin-top: 20px; }
    .graph__xaxis { font-size: 10px; }
    .floating__footer a { padding: 10px; align-content: center; }
    .dashboard__block--asign h3 { font-size: 20px; margin-bottom: 15px; }
    .dashboard__matrixdetail h3 { font-size: 22px; }
    .dashboard__matrixdetail span { font-size: 12px; }
    .graph__mark { font-size: 14px; height: 42px; }
    .graph__yaxis .graph__mark:not(:last-child)::before { left: calc(100% + 3px); }
    .graph__yaxis { margin-right: 10px; }
    .graph__bar + .graph__bar:not(:last-child) { flex: 1 0 calc(25% - 5px); }
    .graph__bar--line { height: calc(100% - 72px); }
    .dashboard__paging { font-size: 14px; }
    .dashboard__paging li:first-child { margin-right: 10px; }
    .dashboard__paging li:last-child { margin-left: 10px; }
    .alert__dropdown .dropdown-menu { transform: translate(-38%, 5px); }
    .account__dropdown img { max-width: 40px; margin-right: 9px; width: 40px; height: 40px; }
    .bttn { padding: 10px 15px; }
}

@media print {
    .site__container > div { justify-content: center; }
    .site__container .dropdown, .header__bottom, .floating__footer, .print__cta { display: none; }
    .w-auto { width: 100% !important; }
    .data__table { display: inline-block; overflow: hidden; width: auto!important; max-width: 100%!important; }
    table{
        max-width: 100% !important;
        width:100%;
        table-layout: fixed;
        border: 1px solid #d7d7d7;
    }
    table td{
        width: auto;
        overflow: hidden;
        word-wrap: break-word;
        border: 1px solid #d7d7d7;
    }
    body, .main { background: #f4f6fa; padding-bottom: 0; }
    body .main, .header__bottom + .main { margin-top: 0; padding-top: 30px; }
    .page__break { page-break-before: always; }
}


@media print {
    @page {
        size: letter;
        size: 11in 8.5in;
        margin: 0;
    }

    body {
        margin: 0;
        font-size: 12px;
        line-height: 18px;
        background: #ffffff;
    }

    .page__us {
        font-size: 10px;
        line-height: 16px;
        min-height: 100vh;
        background: #ffffff;
    }

    .page__us .printBtns { display: none; }

    .page__us .custom__dropdown, .page__us .filter__control, .page__us .input__control {
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        padding-left: 15px;
    }

    .page__us .data__table tr { page-break-after:always; }
    
    .page__us .data__table td, .page__us .data__table th {
        padding: 0 5px;
        font-size: 8px;
        line-height: 12px;
    }

    .page__us .data__table th  {
        padding: 3px 5px;
    }

    .page__us--header {
        position: fixed;
        width: 100%;
        top: 24px;
    }

    .page__us--footer {
        position: fixed;
        width: 100%;
        bottom: 24px;
    }
    
    .page__us .page-break {
        margin-top: 80px;
        margin-bottom: 84px;
        page-break-after: always;
    }

    .page__us .page-break + .page-break {
        margin-top: 106px;
    }
    
    .page__us .page-break .data__table + div .row
    { padding-top: 136px; }
    
    .page__us tr.page-break { page-break-after:always; }
    .page__us table { page-break-after:always; }

    .data__table tr > th:first-child, .data__table tr > td:first-child { position: static; left: auto; }

    .main {
        margin: 0 !important;
        padding: 0 !important;
    }
    .header__bottom, .site__breadcrumb, header, .floating__footer {
        display: none;
    }
    .has__footer { padding: 0; }
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}
.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}